
.uslugi_catalog_one { margin-bottom: 30px; }

.catalog-text { border-left: 1px #E8E8E8 solid; border-right: 1px #E8E8E8 solid; }
.catalog-text>div { padding: 0 20px 15px; }
.uslugi_catalog_one .link {  border: 1px #E8E8E8 solid; border-top: none; }