
/*          #cd3367           */


a,
.index_contacts .social a,
.logo .name
{
    color:#cd3367;
}


.index_contacts  li.active:hover {  background: #cd3367; }

.btn-default,
.index_slider .item .text>div a,
.mb-slider .mb-panel.current .slider_top_color_bg_content,
.bx_catalog-compare-list_sravn .kol
{
    background: #cd3367;
}

.btn-default:hover, 
.btn-default:active,
.btn-default:focus{ 
    background: #cd3367 !important;
    filter: grayscale(30%);
}

.main_menu_gorizontal .nav-pills>li:hover{ border-bottom: 3px #cd3367 solid; }

.search_top_bottom[aria-expanded="true"] , .search_top_bottom.collapsed:hover {
    border-bottom: 3px #cd3367 solid;
    background: rgba(255,255,255, .1);
}

.color_bg, .mb-slider .mb-panel.current .slider_top_color_bg_content
 {
    background: #cd3367;   
    opacity: .8;
    box-shadow: 0 0 0 30000px rgba(0,0,0, .9) inset;

}


.index_title h2>div>div.line {border-top: #cd3367 solid 3px;}

.index_title.white h2>div>div.color {border-top: #cd3367 solid 3px;}

.priem { background: #cd3367; color: white; }

.uslugi_index_one>div:hover { 
    background: #cd3367;
    color: white;
    border: 1px #cd3367 solid; 
}
.catalog_projects_index_one>div:hover { 
    background: white;
    color: #cd3367;
    border: 1px #cd3367 solid; 
}

.catalog_projects_index_one>div:hover .link { 
    color: white;
    background: #cd3367;
}

.catalog_index_one:hover .btn { 
    background: #cd3367; 
    color: white; 
    border-radius: 0 !important;
    border-color: #cd3367;
}

.catalog_index_one>div:hover { border-color: #cd3367;  }

.akcii:hover {  background: #cd3367; color: white; }

.slider.brands .slick-slide a:hover { 
    filter: grayscale(0); 
    background: #cd3367;
    border-color: #cd3367;
}

.index_contacts  li.active{ 
    background: #cd3367;
    border-color: #cd3367;
    z-index: 2;
}

.index_contacts .social a:hover {
    background: #cd3367;
    color: white;
    border-color: #cd3367;
}

.bx-filter .bx-ui-slider-handle { background: #cd3367 !important; }
.bx-filter.bx-black .bx-ui-slider-pricebar-v { 
    background: #cd3367 !important;
    opacity: .20 !important;
}

.link_index_catalog_uslugi a:hover { background: #cd3367; color: white; }

.mb-slider .mb-panel.current .item {    border-bottom: 5px #cd3367 solid !important;}
